@import url('https://themes.googleusercontent.com/fonts/css?kit=OPeqXG-QxW3ZD8BtmPikfA');

.lst-kix_49rvp3ab64f6-3>li:before {
    content: "-  "
}

.lst-kix_49rvp3ab64f6-1>li:before {
    content: "-  "
}

.lst-kix_49rvp3ab64f6-5>li:before {
    content: "-  "
}

.lst-kix_49rvp3ab64f6-2>li:before {
    content: "-  "
}

.lst-kix_49rvp3ab64f6-6>li:before {
    content: "-  "
}

.lst-kix_49rvp3ab64f6-7>li:before {
    content: "-  "
}

ul.lst-kix_49rvp3ab64f6-7 {
    list-style-type: none
}

ul.lst-kix_49rvp3ab64f6-6 {
    list-style-type: none
}

ul.lst-kix_49rvp3ab64f6-8 {
    list-style-type: none
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_49rvp3ab64f6-0>li:before {
    content: "-  "
}

.lst-kix_49rvp3ab64f6-8>li:before {
    content: "-  "
}

ul.lst-kix_49rvp3ab64f6-1 {
    list-style-type: none
}

ul.lst-kix_49rvp3ab64f6-0 {
    list-style-type: none
}

ul.lst-kix_49rvp3ab64f6-3 {
    list-style-type: none
}

ul.lst-kix_49rvp3ab64f6-2 {
    list-style-type: none
}

ul.lst-kix_49rvp3ab64f6-5 {
    list-style-type: none
}

ul.lst-kix_49rvp3ab64f6-4 {
    list-style-type: none
}

.lst-kix_49rvp3ab64f6-4>li:before {
    content: "-  "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c3 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #373a3c;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #373a3c;
    vertical-align: top;
    border-right-color: #373a3c;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 75.5pt;
    border-top-color: #373a3c;
    border-bottom-style: solid
}

.c7 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #373a3c;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #373a3c;
    vertical-align: top;
    border-right-color: #373a3c;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 75.1pt;
    border-top-color: #373a3c;
    border-bottom-style: solid
}

.c6 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c0 {
    color: #373a3c;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11.5pt;
    font-family: "Roboto";
    font-style: normal
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c15 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c13 {
    margin-left: 36pt;
    text-indent: 36pt
}

.c9 {
    padding: 0;
    margin: 0
}

.c18 {
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
}

.c8 {
    margin-left: 72pt;
    height: 11pt
}

.c16 {
    padding-left: 0pt
}

.c12 {
    height: 37pt
}

.c10 {
    height: 11pt
}

.c5 {
    vertical-align: sub
}

.c17 {
    font-size: 12pt
}

.c14 {
    margin-left: 72pt
}

.c11 {
    background-color: #ffffff
}

.c1 {
    vertical-align: super
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}