* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

:root {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    width: 75%;
}

.container {
    text-align: center;
    padding: 10px;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-top: 10px;
}

.summary {
    margin-top: 30px;
    font-size: 1.5em;
}

.content {
    margin-top: 30px;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
}

.content p {
    margin-bottom: 10px;
}

a {
    margin: 10px;
}

footer {
    background: rgb(183, 181, 183);
    padding-bottom: 0.1px;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    padding-top: 60px;
}

.contact-us {
    width: 40%;
    color: white;
}

.autor {
    font-weight: 500;
    font-size: 1.7em;
}

.autor+p {
    font-weight: 500;
    font-size: 1.7em;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.social-media-icon:hover {
    background: white;
    color: rgb(183, 181, 183);
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: white;
    margin-bottom: 60px;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

@media screen and (max-width:800px) {

    body {
        width: 85%;
    }

    .footer-content {
        justify-content: center;
    }

    .social-media {
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon {
        margin-left: 0px;
    }

    .social-media i {
        margin-left: 0px;
    }

    .contact-us {
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500px) {

    body {
        width: 95%;
    }

    .social-media {
        width: 100%;
    }

    .contact-us {
        width: 90%;
    }
}