body {
    margin: 0 auto;
}

ul.lst-kix_d3gvrx5nwi3d-7 {
    list-style-type: none
}

.lst-kix_x9szj8cmzixn-4>li {
    counter-increment: lst-ctn-kix_x9szj8cmzixn-4
}

ul.lst-kix_d3gvrx5nwi3d-8 {
    list-style-type: none
}

ul.lst-kix_d3gvrx5nwi3d-5 {
    list-style-type: none
}

ol.lst-kix_x9szj8cmzixn-6.start {
    counter-reset: lst-ctn-kix_x9szj8cmzixn-6 0
}

ul.lst-kix_d3gvrx5nwi3d-6 {
    list-style-type: none
}

ul.lst-kix_d3gvrx5nwi3d-3 {
    list-style-type: none
}

ul.lst-kix_d3gvrx5nwi3d-4 {
    list-style-type: none
}

ul.lst-kix_d3gvrx5nwi3d-1 {
    list-style-type: none
}

ul.lst-kix_d3gvrx5nwi3d-2 {
    list-style-type: none
}

ol.lst-kix_mb1yrodeub6e-4.start {
    counter-reset: lst-ctn-kix_mb1yrodeub6e-4 0
}

ol.lst-kix_x9szj8cmzixn-8 {
    list-style-type: none
}

ol.lst-kix_x9szj8cmzixn-7 {
    list-style-type: none
}

ol.lst-kix_x9szj8cmzixn-6 {
    list-style-type: none
}

ol.lst-kix_x9szj8cmzixn-5 {
    list-style-type: none
}

ol.lst-kix_x9szj8cmzixn-4 {
    list-style-type: none
}

ol.lst-kix_x9szj8cmzixn-3 {
    list-style-type: none
}

ol.lst-kix_mb1yrodeub6e-1.start {
    counter-reset: lst-ctn-kix_mb1yrodeub6e-1 0
}

ol.lst-kix_x9szj8cmzixn-2 {
    list-style-type: none
}

ol.lst-kix_x9szj8cmzixn-0.start {
    counter-reset: lst-ctn-kix_x9szj8cmzixn-0 0
}

ol.lst-kix_x9szj8cmzixn-1 {
    list-style-type: none
}

ol.lst-kix_x9szj8cmzixn-0 {
    list-style-type: none
}

.lst-kix_x9szj8cmzixn-3>li {
    counter-increment: lst-ctn-kix_x9szj8cmzixn-3
}

.lst-kix_x9szj8cmzixn-5>li {
    counter-increment: lst-ctn-kix_x9szj8cmzixn-5
}

ol.lst-kix_x9szj8cmzixn-3.start {
    counter-reset: lst-ctn-kix_x9szj8cmzixn-3 0
}

ul.lst-kix_d3gvrx5nwi3d-0 {
    list-style-type: none
}

ul.lst-kix_i19f3cyhx8qq-4 {
    list-style-type: none
}

ul.lst-kix_i19f3cyhx8qq-3 {
    list-style-type: none
}

.lst-kix_x9szj8cmzixn-1>li {
    counter-increment: lst-ctn-kix_x9szj8cmzixn-1
}

ul.lst-kix_i19f3cyhx8qq-2 {
    list-style-type: none
}

.lst-kix_x9szj8cmzixn-7>li {
    counter-increment: lst-ctn-kix_x9szj8cmzixn-7
}

ul.lst-kix_i19f3cyhx8qq-1 {
    list-style-type: none
}

ul.lst-kix_i19f3cyhx8qq-0 {
    list-style-type: none
}

ul.lst-kix_i19f3cyhx8qq-8 {
    list-style-type: none
}

ul.lst-kix_i19f3cyhx8qq-7 {
    list-style-type: none
}

ul.lst-kix_i19f3cyhx8qq-6 {
    list-style-type: none
}

ul.lst-kix_i19f3cyhx8qq-5 {
    list-style-type: none
}

ol.lst-kix_mb1yrodeub6e-6.start {
    counter-reset: lst-ctn-kix_mb1yrodeub6e-6 0
}

ol.lst-kix_x9szj8cmzixn-4.start {
    counter-reset: lst-ctn-kix_x9szj8cmzixn-4 0
}

.lst-kix_mb1yrodeub6e-2>li {
    counter-increment: lst-ctn-kix_mb1yrodeub6e-2
}

ol.lst-kix_x9szj8cmzixn-5.start {
    counter-reset: lst-ctn-kix_x9szj8cmzixn-5 0
}

ol.lst-kix_mb1yrodeub6e-0.start {
    counter-reset: lst-ctn-kix_mb1yrodeub6e-0 0
}

.lst-kix_r54w35j4awq5-4>li:before {
    content: "-  "
}

.lst-kix_r54w35j4awq5-5>li:before {
    content: "-  "
}

.lst-kix_r54w35j4awq5-7>li:before {
    content: "-  "
}

.lst-kix_r54w35j4awq5-6>li:before {
    content: "-  "
}

.lst-kix_r54w35j4awq5-8>li:before {
    content: "-  "
}

.lst-kix_d3gvrx5nwi3d-3>li:before {
    content: "-  "
}

.lst-kix_d3gvrx5nwi3d-5>li:before {
    content: "-  "
}

ol.lst-kix_mb1yrodeub6e-7.start {
    counter-reset: lst-ctn-kix_mb1yrodeub6e-7 0
}

.lst-kix_d3gvrx5nwi3d-4>li:before {
    content: "-  "
}

.lst-kix_d3gvrx5nwi3d-8>li:before {
    content: "-  "
}

.lst-kix_mb1yrodeub6e-8>li {
    counter-increment: lst-ctn-kix_mb1yrodeub6e-8
}

.lst-kix_d3gvrx5nwi3d-7>li:before {
    content: "-  "
}

.lst-kix_d3gvrx5nwi3d-6>li:before {
    content: "-  "
}

.lst-kix_mb1yrodeub6e-5>li {
    counter-increment: lst-ctn-kix_mb1yrodeub6e-5
}

.lst-kix_d3gvrx5nwi3d-0>li:before {
    content: "-  "
}

.lst-kix_mb1yrodeub6e-3>li {
    counter-increment: lst-ctn-kix_mb1yrodeub6e-3
}

.lst-kix_d3gvrx5nwi3d-1>li:before {
    content: "-  "
}

.lst-kix_d3gvrx5nwi3d-2>li:before {
    content: "-  "
}

ol.lst-kix_mb1yrodeub6e-8.start {
    counter-reset: lst-ctn-kix_mb1yrodeub6e-8 0
}

.lst-kix_mb1yrodeub6e-4>li {
    counter-increment: lst-ctn-kix_mb1yrodeub6e-4
}

.lst-kix_tljh931zywc7-5>li:before {
    content: "-  "
}

ol.lst-kix_x9szj8cmzixn-2.start {
    counter-reset: lst-ctn-kix_x9szj8cmzixn-2 0
}

.lst-kix_r54w35j4awq5-3>li:before {
    content: "-  "
}

.lst-kix_tljh931zywc7-6>li:before {
    content: "-  "
}

.lst-kix_tljh931zywc7-7>li:before {
    content: "-  "
}

.lst-kix_r54w35j4awq5-2>li:before {
    content: "-  "
}

.lst-kix_r54w35j4awq5-1>li:before {
    content: "-  "
}

.lst-kix_tljh931zywc7-8>li:before {
    content: "-  "
}

ol.lst-kix_mb1yrodeub6e-5.start {
    counter-reset: lst-ctn-kix_mb1yrodeub6e-5 0
}

.lst-kix_r54w35j4awq5-0>li:before {
    content: "-  "
}

.lst-kix_i19f3cyhx8qq-1>li:before {
    content: "-  "
}

.lst-kix_i19f3cyhx8qq-0>li:before {
    content: "-  "
}

.lst-kix_i19f3cyhx8qq-4>li:before {
    content: "-  "
}

.lst-kix_x9szj8cmzixn-0>li {
    counter-increment: lst-ctn-kix_x9szj8cmzixn-0
}

.lst-kix_i19f3cyhx8qq-3>li:before {
    content: "-  "
}

ul.lst-kix_r54w35j4awq5-6 {
    list-style-type: none
}

ul.lst-kix_r54w35j4awq5-5 {
    list-style-type: none
}

ul.lst-kix_r54w35j4awq5-8 {
    list-style-type: none
}

.lst-kix_i19f3cyhx8qq-2>li:before {
    content: "-  "
}

ul.lst-kix_r54w35j4awq5-7 {
    list-style-type: none
}

.lst-kix_x9szj8cmzixn-8>li {
    counter-increment: lst-ctn-kix_x9szj8cmzixn-8
}

.lst-kix_i19f3cyhx8qq-8>li:before {
    content: "-  "
}

ul.lst-kix_r54w35j4awq5-2 {
    list-style-type: none
}

ul.lst-kix_r54w35j4awq5-1 {
    list-style-type: none
}

.lst-kix_i19f3cyhx8qq-7>li:before {
    content: "-  "
}

ul.lst-kix_r54w35j4awq5-4 {
    list-style-type: none
}

ul.lst-kix_r54w35j4awq5-3 {
    list-style-type: none
}

ul.lst-kix_r54w35j4awq5-0 {
    list-style-type: none
}

.lst-kix_i19f3cyhx8qq-5>li:before {
    content: "-  "
}

.lst-kix_i19f3cyhx8qq-6>li:before {
    content: "-  "
}

ol.lst-kix_mb1yrodeub6e-2.start {
    counter-reset: lst-ctn-kix_mb1yrodeub6e-2 0
}

.lst-kix_mb1yrodeub6e-6>li:before {
    content: "" counter(lst-ctn-kix_mb1yrodeub6e-6, decimal) ". "
}

.lst-kix_mb1yrodeub6e-7>li:before {
    content: "" counter(lst-ctn-kix_mb1yrodeub6e-7, lower-latin) ". "
}

.lst-kix_hcyycim9h3ir-0>li:before {
    content: "-  "
}

.lst-kix_hcyycim9h3ir-1>li:before {
    content: "-  "
}

.lst-kix_mb1yrodeub6e-5>li:before {
    content: "" counter(lst-ctn-kix_mb1yrodeub6e-5, lower-roman) ". "
}

.lst-kix_hcyycim9h3ir-3>li:before {
    content: "-  "
}

ol.lst-kix_x9szj8cmzixn-1.start {
    counter-reset: lst-ctn-kix_x9szj8cmzixn-1 0
}

ul.lst-kix_2tamhis1bj1u-8 {
    list-style-type: none
}

.lst-kix_mb1yrodeub6e-2>li:before {
    content: "" counter(lst-ctn-kix_mb1yrodeub6e-2, lower-roman) ". "
}

.lst-kix_mb1yrodeub6e-3>li:before {
    content: "" counter(lst-ctn-kix_mb1yrodeub6e-3, decimal) ". "
}

.lst-kix_mb1yrodeub6e-6>li {
    counter-increment: lst-ctn-kix_mb1yrodeub6e-6
}

.lst-kix_hcyycim9h3ir-2>li:before {
    content: "-  "
}

.lst-kix_hcyycim9h3ir-4>li:before {
    content: "-  "
}

.lst-kix_mb1yrodeub6e-4>li:before {
    content: "" counter(lst-ctn-kix_mb1yrodeub6e-4, lower-latin) ". "
}

.lst-kix_mb1yrodeub6e-1>li {
    counter-increment: lst-ctn-kix_mb1yrodeub6e-1
}

.lst-kix_mb1yrodeub6e-7>li {
    counter-increment: lst-ctn-kix_mb1yrodeub6e-7
}

.lst-kix_2tamhis1bj1u-8>li:before {
    content: "-  "
}

.lst-kix_x9szj8cmzixn-2>li {
    counter-increment: lst-ctn-kix_x9szj8cmzixn-2
}

.lst-kix_x9szj8cmzixn-6>li {
    counter-increment: lst-ctn-kix_x9szj8cmzixn-6
}

ol.lst-kix_mb1yrodeub6e-3.start {
    counter-reset: lst-ctn-kix_mb1yrodeub6e-3 0
}

ol.lst-kix_x9szj8cmzixn-7.start {
    counter-reset: lst-ctn-kix_x9szj8cmzixn-7 0
}

.lst-kix_mb1yrodeub6e-0>li {
    counter-increment: lst-ctn-kix_mb1yrodeub6e-0
}

.lst-kix_mb1yrodeub6e-8>li:before {
    content: "" counter(lst-ctn-kix_mb1yrodeub6e-8, lower-roman) ". "
}

ul.lst-kix_hcyycim9h3ir-8 {
    list-style-type: none
}

.lst-kix_x9szj8cmzixn-8>li:before {
    content: "" counter(lst-ctn-kix_x9szj8cmzixn-8, lower-roman) ". "
}

.lst-kix_2tamhis1bj1u-0>li:before {
    content: "-  "
}

.lst-kix_x9szj8cmzixn-7>li:before {
    content: "" counter(lst-ctn-kix_x9szj8cmzixn-7, lower-latin) ". "
}

.lst-kix_2tamhis1bj1u-1>li:before {
    content: "-  "
}

ul.lst-kix_hcyycim9h3ir-1 {
    list-style-type: none
}

ul.lst-kix_hcyycim9h3ir-0 {
    list-style-type: none
}

.lst-kix_x9szj8cmzixn-5>li:before {
    content: "" counter(lst-ctn-kix_x9szj8cmzixn-5, lower-roman) ". "
}

ul.lst-kix_tljh931zywc7-0 {
    list-style-type: none
}

ul.lst-kix_hcyycim9h3ir-3 {
    list-style-type: none
}

ul.lst-kix_tljh931zywc7-1 {
    list-style-type: none
}

ul.lst-kix_hcyycim9h3ir-2 {
    list-style-type: none
}

ul.lst-kix_tljh931zywc7-2 {
    list-style-type: none
}

ul.lst-kix_hcyycim9h3ir-5 {
    list-style-type: none
}

ul.lst-kix_tljh931zywc7-3 {
    list-style-type: none
}

.lst-kix_tljh931zywc7-4>li:before {
    content: "-  "
}

ul.lst-kix_hcyycim9h3ir-4 {
    list-style-type: none
}

.lst-kix_x9szj8cmzixn-6>li:before {
    content: "" counter(lst-ctn-kix_x9szj8cmzixn-6, decimal) ". "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

ul.lst-kix_tljh931zywc7-4 {
    list-style-type: none
}

ul.lst-kix_hcyycim9h3ir-7 {
    list-style-type: none
}

.lst-kix_2tamhis1bj1u-7>li:before {
    content: "-  "
}

ul.lst-kix_tljh931zywc7-5 {
    list-style-type: none
}

ul.lst-kix_hcyycim9h3ir-6 {
    list-style-type: none
}

ul.lst-kix_2tamhis1bj1u-1 {
    list-style-type: none
}

ol.lst-kix_mb1yrodeub6e-0 {
    list-style-type: none
}

ul.lst-kix_tljh931zywc7-6 {
    list-style-type: none
}

.lst-kix_hcyycim9h3ir-7>li:before {
    content: "-  "
}

.lst-kix_x9szj8cmzixn-1>li:before {
    content: "" counter(lst-ctn-kix_x9szj8cmzixn-1, lower-latin) ". "
}

ul.lst-kix_2tamhis1bj1u-0 {
    list-style-type: none
}

ol.lst-kix_mb1yrodeub6e-1 {
    list-style-type: none
}

.lst-kix_tljh931zywc7-3>li:before {
    content: "-  "
}

ul.lst-kix_tljh931zywc7-7 {
    list-style-type: none
}

ul.lst-kix_2tamhis1bj1u-3 {
    list-style-type: none
}

ol.lst-kix_mb1yrodeub6e-2 {
    list-style-type: none
}

ul.lst-kix_tljh931zywc7-8 {
    list-style-type: none
}

.lst-kix_hcyycim9h3ir-6>li:before {
    content: "-  "
}

.lst-kix_hcyycim9h3ir-8>li:before {
    content: "-  "
}

ul.lst-kix_2tamhis1bj1u-2 {
    list-style-type: none
}

.lst-kix_2tamhis1bj1u-6>li:before {
    content: "-  "
}

ol.lst-kix_mb1yrodeub6e-3 {
    list-style-type: none
}

ul.lst-kix_2tamhis1bj1u-5 {
    list-style-type: none
}

ol.lst-kix_mb1yrodeub6e-4 {
    list-style-type: none
}

.lst-kix_tljh931zywc7-1>li:before {
    content: "-  "
}

.lst-kix_hcyycim9h3ir-5>li:before {
    content: "-  "
}

.lst-kix_x9szj8cmzixn-3>li:before {
    content: "" counter(lst-ctn-kix_x9szj8cmzixn-3, decimal) ". "
}

ul.lst-kix_2tamhis1bj1u-4 {
    list-style-type: none
}

.lst-kix_mb1yrodeub6e-1>li:before {
    content: "" counter(lst-ctn-kix_mb1yrodeub6e-1, lower-latin) ". "
}

ol.lst-kix_mb1yrodeub6e-5 {
    list-style-type: none
}

ul.lst-kix_2tamhis1bj1u-7 {
    list-style-type: none
}

ol.lst-kix_mb1yrodeub6e-6 {
    list-style-type: none
}

.lst-kix_tljh931zywc7-2>li:before {
    content: "-  "
}

.lst-kix_x9szj8cmzixn-0>li:before {
    content: "" counter(lst-ctn-kix_x9szj8cmzixn-0, decimal) ". "
}

.lst-kix_x9szj8cmzixn-4>li:before {
    content: "" counter(lst-ctn-kix_x9szj8cmzixn-4, lower-latin) ". "
}

.lst-kix_2tamhis1bj1u-5>li:before {
    content: "-  "
}

ul.lst-kix_2tamhis1bj1u-6 {
    list-style-type: none
}

ol.lst-kix_mb1yrodeub6e-7 {
    list-style-type: none
}

ol.lst-kix_mb1yrodeub6e-8 {
    list-style-type: none
}

.lst-kix_2tamhis1bj1u-2>li:before {
    content: "-  "
}

.lst-kix_2tamhis1bj1u-4>li:before {
    content: "-  "
}

.lst-kix_mb1yrodeub6e-0>li:before {
    content: "" counter(lst-ctn-kix_mb1yrodeub6e-0, decimal) ". "
}

ol.lst-kix_x9szj8cmzixn-8.start {
    counter-reset: lst-ctn-kix_x9szj8cmzixn-8 0
}

.lst-kix_tljh931zywc7-0>li:before {
    content: "-  "
}

.lst-kix_x9szj8cmzixn-2>li:before {
    content: "" counter(lst-ctn-kix_x9szj8cmzixn-2, lower-roman) ". "
}

.lst-kix_2tamhis1bj1u-3>li:before {
    content: "-  "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c1 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify;
    height: 11pt
}

.c2 {
    margin-left: 36pt;
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c12 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Arial";
    font-style: normal
}

.c14 {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c13 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 21pt;
    font-family: "Arial";
    font-style: normal
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify;
    height: 11pt
}

.c11 {
    padding-top: 0pt;
    padding-bottom: 16pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c10 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c8 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
}

.c5 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c7 {
    margin-left: 72pt;
    padding-left: 0pt
}

.c6 {
    padding: 0;
    margin: 0
}

.c9 {
    margin-left: 72pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}